.p-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.p-link li :global(.socialIcon) {
  transition: all 0.2s ease-in;
}

.p-link li a:hover :global(.socialIcon) {
  color: rgba(100, 63, 161, 0.94) !important;
}

/* mobile approach min-width */
@media (width >= 47em) {
  .p-link {
    justify-content: flex-start;
  }
}
