.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.social-media li .socialIcon {
  transition: all 0.2s ease-in;
}

.social-media li a:hover .socialIcon {
  color: rgba(100, 63, 161, 0.94) !important;
}

/* mobile approach min-width */
@media (width >= 47em) {
  .social-media {
    justify-content: flex-start;
  }
}
