.nav-burger {
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.nav-burger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.nav-burger.open span:nth-child(2) {
  opacity: 0;
}
.nav-burger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-burger span {
  display: block;
  background: #fff;
  width: 24px;
  height: 2px;
  transition: all 0.5s ease;
}
