.navBurger {
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.navBurger .line {
  display: block;
  background: #fff;
  width: 24px;
  height: 2px;
  transition: all 0.5s ease;
}

.navBurger.open .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.navBurger.open .line:nth-child(2) {
  opacity: 0;
}
.navBurger.open .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
