.cards .card {
  flex: 1;
}

.cards .card {
  font-size: 1.6rem;
  text-transform: capitalize;
}
.cards .card .options {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2.5rem;
}

.cards .card .options a {
  color: #fff;
}

.cards .card .options a:hover {
  color: rgba(100, 63, 161, 0.94) !important;
}
