.cards .card {
  font-size: 1.6rem;
  text-transform: capitalize;
}
.cards .card .options {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2.5rem;
}

.cards .card .options a {
  color: #fff;
}

.cards .card .options a:hover {
  color: rgba(100, 63, 161, 0.94) !important;
}

/* mobile approach min-width */
@media (width >= 30em) {
  .cards .card {
    flex: 0 calc(100% / 2 - 3rem);
  }
}

@media (width >= 45.875em) {
  .cards .card {
    flex: 0 calc(100% / 3 - 4rem);
  }
}
