.dove-portfolio {
  padding-block: 5rem;
}

.dove-portfolio h2 {
  font-size: 2.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

/* this will run if the portfolio array is empty  */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70rem;
  font-size: 4rem;
}
