.techStack {
  align-items: center;
  margin-top: 5rem;

  /* display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem; */
}

.icons {
  display: flex;
  justify-content: space-around;
  flex: 0.7;
}

.techStack svg {
  /* margin-right: 2rem; */
}

@media (width >= 45.875em) {
  .techStack {
    display: flex;
    margin-top: 1rem;
  }
}
