.techStack {
  align-items: center;
  margin-top: 5rem;

  /* display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem; */
}

@media (width >= 45.875em) {
  .techStack {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
  }

  .techStack svg {
    margin-right: 3.5rem;
  }
}

@media (width <= 47em) {
  .icons {
    display: flex;
    justify-content: space-around;
    flex: 0.7;
  }
}
