.nav-button {
  display: flex;
  font-size: 1.6rem;
  background: var(--secondary-color);

  height: 6rem;

  cursor: pointer;
}

.nav-button.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-button-container {
  display: flex;
  align-items: center;

  width: 100%;
  justify-content: space-between;
  padding-inline: 1.6rem;
}

.menu {
  font-weight: 600;
  letter-spacing: 2px;
}

/* mobile approach min-width */
@media (width >= 45.875em) {
  .nav-button {
    width: 16rem;
    margin-left: auto;
    margin-top: 3rem;
    margin-right: 3rem;
    border-radius: 0.6rem;
  }
  .nav-button-container {
    justify-content: space-around;
  }
}
