.navButton {
  display: flex;
  font-size: 1.6rem;
  background: var(--secondary-color);
  height: 6rem;
  cursor: pointer;
}

.navButton.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.navButtonContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-inline: 1.6rem;
}

.menu {
  font-weight: 600;
  letter-spacing: 2px;
}

/* mobile approach min-width */
@media (width >= 47em) {
  .navButton {
    width: 16rem;
    margin-left: auto;
    margin-top: 3rem;
    margin-right: 3rem;
    border-radius: 0.6rem;
  }
  .navButtonContainer {
    justify-content: space-around;
  }
}
