@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
  --primary-color: #1e293b;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: var(--primary-color);
  color: #fff;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  /* max-width: 1272px; */
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio,
.dove-content {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.portfolio {
  margin-block: 5rem;
  /* activate this code only if there is a content below portfolio info  */
  /* flex-direction: column; */
}

.dove-content {
  gap: 5rem;
  flex-wrap: wrap;
}

.content img {
  border-radius: 9999px;
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

.content:nth-of-type(2) {
  font-size: 2rem;
}

.content:nth-of-type(2) span {
  font-size: 3rem;
}

.content:nth-of-type(2) h1 {
  font-size: 5rem;
  margin: 0;
}
.content:nth-of-type(2) p {
  margin-top: 1rem;
}

.content.left {
  border: 0.5rem rgba(100, 63, 161, 0.94) solid;
  border-radius: 9999px;
  padding: 0.5rem;
}

.content.right {
  /* flex: 0.5; */
  flex: 1;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.social-media li a:hover .socialIcon {
  color: rgba(100, 63, 161, 0.94) !important;
}
